body{
    margin:0;
    /* background-color:rgb(79, 4, 159) ; */
    /* background-color:black ; */
}
.mode{
    position:absolute;
    top: 30px;
    left: 30px;
    height: 60px;
    width: 210px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 40px;

}
.mode:hover{
    background-color: white;
    color: black;
}
#time{
    height: 100vh;
     /* margin: 0;  */
    width: 100vw;
    background-color: rgb(79, 4, 159);
     flex-direction: column;
     display: flex;
     justify-content: space-around;
    align-items:center;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif; 
}

#greet{
    height: 100vh;
    margin: 0;
    width: 100vw;
    background-color: rgb(79, 4, 159);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    color: white;
    font-family: 'Raleway', sans-serif; 
}
.opti{
    width: 250px;
    border-radius: 40px;
    height: 50px;
    margin: 20px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opti:hover{
    background-color:white ;
    color:black;
}
#options{
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
}
#intro{
    height: 100vh;
    width: 100vw;
    background-color: rgb(79, 4, 159);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    font-size: 10px;
    font-size: 30px;
    color: white;
}
#start1{
    
   font-size: 85px;
   color: white;
   font-family: 'Raleway', sans-serif; 
}
#start2{
   font-size: 45px;
    color: white;
     font-family: 'Raleway', sans-serif; 
     border: 1px solid white;
     padding: 15px;
     
}
#start2:hover{
    background-color:white ;
    color:black;
}
.qs{
    height: 100vh;
    width: 100vw;
    background-color: rgb(79, 4, 159);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    font-size: 30px;
    color: white;
}
.question{
    font-size: 85px;
    color: white;
    font-family: 'Raleway', sans-serif; 
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.options{
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    

}
.opt{
    color: white;
    font-size: 30px;
    letter-spacing: 7px;
    margin-top: 25px;
    border-radius: 20px;
    /* display: block; */
    padding: 15px;
    width: 50vw;
    display: flex;
    justify-content: center;
}
.opt:hover{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
}
#q1{
    display: none;
}
#q2{
    display: none;
}
#q3{
    display: none;
}
#q4{
    display: none;
}
#q5{
    display: none;
}
#q6{
    display: none;
}
#q7{
    display: none;
}
#q8{
    display: none;
}
#q9{
    display: none;
}
#q10{
    display: none;
}
#result{
    display: none;

}
#declare{
    
    font-size: 85px;
    color: white;
    font-family: 'Raleway', sans-serif; 
 }
 #score{
    font-size:100px;
     color: white;
      font-family: 'Raleway', sans-serif; 
      
      
      
 }
 #rxn{
    font-size:85px;
     color: white;
      font-family: 'Raleway', sans-serif; 
      
      
      
 }
 #mainstopwatch{
    width: 400px;
    height: 5vh;
    margin:10px auto;
    /* padding:60px 50px 10px; */
    text-align:center;
    font-size: 40px;
    background: rgb(79, 4, 159);
    /* box-shadow: 15px 15px 30px #afafaf,-15px -15px 30px #ffffff; */
    border-radius:40px;
    background: rgb(79, 4, 159);
    /* box-shadow:6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff; */
  
  }
  #mainstopwatch span{
    background: #c7e0f8;
    color:#0776de;
    padding:10px;
    width:55px;
    margin:3px;
    display:inline-block;
    background:#e0e0e0;
    box-shadow:6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;
  }
 #instructions{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
    /* display: none; */
 }
 #instr{
    border: 5px solid white;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;
    height: 340px;
    line-height: 20px;
    letter-spacing: 2px;
    width: 220px;
    position: absolute;
    font-size: 20px;
    display: none;
    top: 45px;
    right: 65px;
 }
 #inst_img{
    height: 45px;
    width: 45px;
 }
